/* App general styling */

:root {
    --bg-color: #F2F2F2;
    --primary-color: #B0FF7E;
    --primary-color-hover: #9DE670;
    --primary-color-active: #83BF5E;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.image {
    width: 400px;
    height: 300px;
}

h1, h2, h3 {
    font-family: 'Spectral', serif;
    font-weight: 700;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 32px;
}

/* Header */

header {
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.logo--header{
    width: 200px;
}

.menu ul {
    display: flex;
    gap: 24px;
}

.menu-link {
    color: var(--bg-color);
    text-decoration: none;
    position: relative;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);;
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);;
}

.menu-item.active > .menu-link, .menu-item:hover > .menu-link {
    color: white;
}

.menu-item.active > .menu-link::after, .menu-item:hover > .menu-link::after {
    width: 100%;
}

/* Hero section */

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
