/* App general styling */

:root {
    --bg-color: #F2F2F2;
    --primary-color: #B0FF7E;
    --primary-color-hover: #9DE670;
    --primary-color-active: #83BF5E;
    --text-color: #242526;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.content {
    padding-bottom: 48px;
}

.bold {
    font-weight: 500;
}

.image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

h1, h2, h3 {
    font-family: 'Spectral', serif;
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    font-size: 32px;
}

h2 {
    font-size: 36px;
    position: relative;
    margin-bottom: 48px;
}

h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--primary-color);
    bottom: -15px;
    left: 0;
}

.btn {
    border: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 32px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 6px;
}

.btn--primary {
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 3px var(--primary-color-hover) solid;
}

.btn--primary:hover {
    background-color: var(--primary-color-hover);
    border: 3px var(--primary-color-active) solid;
}

.btn--primary:active {
    background-color: var(--primary-color-active);
}

.btn--secondary {
    color: #fff;
    background-color: transparent;
    border: 3px #fff solid;
    text-transform: uppercase;
}

.btn--secondary:hover {
    color: var(--text-color);
    background-color: #fff;
}

.btn--secondary:active {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 450px;
    min-height: 200px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
    -moz-box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
    box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
}

.card_heading {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 38px;
    position: relative;
}

.card_heading::after {
    content: '';
    position: absolute;
    width: 64px;
    height: 5px;
    background-color: var(--primary-color);
    bottom: -15px;
    left: 0;
}



/* Header */

header {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 24px 48px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo--header{
    width: 200px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu ul {
    display: flex;
    gap: 24px;
}

.menu-link {
    color: var(--bg-color);
    text-decoration: none;
    position: relative;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);;
}

.menu-item.active > .menu-link, .menu-item:hover > .menu-link {
    color: white;
}

.menu-item.active > .menu-link::after, .menu-item:hover > .menu-link::after {
    width: 100%;
}

.menu-item {
    cursor: pointer;
}

.dark {
    background-color: rgba(36,37,38, 0.75);
    backdrop-filter: blur(4px);
}

header.scrolled > .wrapper .logo--header {
    width: 120px;
}

header.scrolled {
    background-color: rgba(36,37,38, 0.75);
    backdrop-filter: blur(4px);
    padding: 24px 48px;
}

/* Hero section */

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

/* About section */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
}

.about > .row {
    gap: 84px;
    align-items: center;
}

/* Menu section */

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    min-height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.menu-section h2 {
    color: #fff;
}

.menu-section .material-symbols-outlined {
    font-size: 64px;
    color: #fff;
    margin-bottom: 12px;
}

/* Info section */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
}

.info > .row {
    margin-top: 64px;
    gap: 84px;
    align-items: center;
}

.text--info {
    font-size: 16px;
    text-align: center;
}

/* Footer */

footer {
    background-color: var(--text-color);
    color: #fff;
    padding: 48px 0;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 200px;
}

/* Menu module */

.menu-tab {
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
    -moz-box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
    box-shadow: 4px 4px 11px -6px rgba(66, 68, 90, 0.46);
    margin-top: 64px;
}


.tab-header {
    padding: 84px 48px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: #fff;
}

.tab-section {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tab-section h3 {
    position: relative;
    margin-bottom: 16px;
}

.tab-section h3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -5px;
    left: 0;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px var(--bg-color) solid;
    margin-bottom: 12px;
}

.menu-dish h4{
    font-weight: 500;
}

.menu--desc {
    margin-top: 8px;
}

